.contenedorpadre{
   background-image: url(./Imagenes/fondo-azul-copa-america-2024.jpg);
}
.titular{
    height: 100px;
    text-align: center;
    margin: 20px 10px 5px 10px;
}
.primerbloque{
    display: grid;
    grid-template-areas: "tabgrupoa" "tabgrupob";
    grid-template-columns: 650px 650px;
    grid-column-gap: 20px;
    padding-left: 1%;
}
.tab-grupoa{
    height: 300px;
    background-color: rgb(39, 39, 131);
}
.tabgrupob{
    height: 300px;
}
.segundobloque{
    display: grid;
    grid-template-areas: "tab-grupoa" "tabgrupob";
    grid-template-columns: 650px 650px;
    grid-column-gap: 20px;
    padding-left: 1%; 
}
.tabgrupoc{
    height: 300px;
}
.tabgrupod{
    height: 300px;
}
@media (min-width: 320px) and (max-width:600px){
    .contenedor-nav{
        background-color: rgb(197, 35, 35);
    }
    .primerbloque{
        grid-template-areas: "tab-grupoa"
        "tabgrupob";
        grid-template-columns: 100%;
        grid-template-rows: "tab-grupoa"
        "tabgrupob";
    }
    .tab-grupoa{
        height: 400px;
    }
    .tabgrupob{
        height: 400px;
    }
    .segundobloque{
        grid-template-areas: "tabgrupoc"
        "tabgrupod";
        grid-template-columns: 100%;
        grid-template-rows: "tabgrupoc"
        "tabgrupod";
    }
}
