.contenedor-total{
    background-image: url(./Imagenes/fondo-azul-copa-america-2024.jpg);
}
.titulop{
    height: 70px;
    text-align: center;    
    padding: 15px 5px 10px 5px;
}
.texto1{
    text-align: center;
    height: 70px;
    padding: 5px 10px 5px 10px;
}
.contenedor1{
    display: flex;
}
.mapa{
    display: block;
    text-align: center;
    margin: 10px;
}
.fotomapa{
    height: 300px;
    width: 500px;
    margin-left: 30px;
transition: height 1s;
}
.fotomapa:hover{
    height: 320px;
}

.tabla1{
    margin: 10px 50px 10px 50px;
    text-align: center;
    align-items: center;
    width: 700px;
    transition: width 3s;
}
.tabla1:hover{
    width: 600px;
}

@media (min-width:200px) and (max-width:600px){
    .contenedor-nav{
        background-color: rgb(185, 35, 35);}
        .contenedor1{
            display: inline;
        }
    .mapa{
        display: inline;
        height: 120px;
        width: 90%;
        margin-left: 5px;
    }
    .fotomapa{
        display: block;
        width: 100%;
        margin-left: 1px;
    }
    .tabla1{
        display: inline;
        text-align: left;
        align-items: flex-start;
        width: 100%;
    }
}
