.cuerpototal {
    background-image: url(./Imagenes/fondo-azul-copa-america-2024.jpg);
}

.titulo1 {
    text-align: center;
    padding: 15px 5px 15px 5px;
    margin: 5px;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 50px 20px 50px;

}

.carrusel1 {
    display: flex;
    width: 700px;
    justify-content: center;
    align-items: center;
    margin: 50px 150px 50px 320px;


}

.imagenes-carru {
    height: 400px;
}

.contenedorcards {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjeta1 {
    display: flex;
    height: 200px;
    width: 500px;
    margin: 15px 15px 10px 15px;
    transition: width 2s;
}

.tarjeta1:hover {
    width: 600px;
}

.tarjeta2 {
    display: flex;
    height: 200px;
    width: 500px;
    margin: 15px 15px 10px 15px;
    transition: width 2s;

}

.tarjeta2:hover {
    width: 600px;
}

@media (min-width:200px) and (max-width:600px){
    .video {
        justify-content: left;
        align-items: flex-start;
    }

    .carrusel1 {
        justify-content: left;
        align-items: flex-start;
        margin: 25px 10px 25px 10px;
        width: 100%;
    }
    .contenedor-nav{
        background-color: rgb(197, 35, 35);
    }
   .contenedorcards{
    display: inline;
    justify-content: left;
    align-items: flex-start;
   } 
   .tarjeta1{
    display: inline;
   }
   .tarjeta2{
    display: inline;
   }

}